<div class="aut-container">
    <h2>Restablecer contraseña</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                <mat-icon>{{ hidePassword ? "visibility_off" : "visibility"}}</mat-icon>
            </button>
            @if(form.get('newPassword')?.hasError('required')) {
                <mat-error>La contraseña es obligatoria</mat-error>
            }  
            @if(form.get('newPassword')?.hasError('minlength')) {
                <mat-error>La contraseña debe tener al menos 6 caracteres</mat-error>
            } 
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Cambiar contraseña</button>
    </form>
</div>
