
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-error {
    background-color: #e53935;
    color: #fff;
}

.snackbar-success {
    border-color: #43a047;
    color: #fff;
}